
{% extends "eafsd_base.html"%}

{% block title %}Acknowledgements | {{ block.super }}{% endblock %}

{% block main %}
	<div id='main'>
		<div id='content'>
			<h3>EAFSD Acknowledgements</h3>

			<h4>Relanch: February 10, 2013</h4>

			<p>The EAFSD has been online for over two years, and it was time for a change.  Along with the new site design, the code base for <a href="http://projectquincy.rubyforge.org">Project Quincy</a> has been completely rewritten in the <a target="_blank" href="http://djangoproject.org">Django framework</a>.  I want to take this chance to thank all the people who have supported the EAFSD (and me) through this transition.</p>

			<p>Since its intial launch, the EASFD has become an even more integral component of my dissertation "Revolution Mongers: Launching the U.S. Foreign Service."  So integral, that most of my analysis is now better presented on the web than in a traditional print dissertation.  I want to reiterate my gratitude to my amazing dissertation advisers <a target="_blank" href="http://www.virginia.edu/history/user/46">Peter S. Onuf</a> and <a target="_blank" href="http://www.virginia.edu/history/user/54">J.C.A. Stagg</a> for their continued support and willingness to let me push the boundaries of traditional publication frameworks.</p>

			<p>This relaunch would not be possible without the support of all my amazing colleagues in the Brown University Library.  Since I started at Brown in August of 2011 my boss <a target="_blank" href="#">Ned Quist</a>, Associate University Librarian for Research and Outreach Services, has made it possible for me to do this work through his continual support and enouragement.  <a target="_blank" href="#">Elli Mylonas</a> and <a target="_blank" href="#">Julia Flanders</a> provide daily examples of how to create and maintain digital humanities projects of the highest caliber.</p>

			<p>Porting the system to Django would have been impossible without Birkin Diana's expert knowledge and continued willingness to answer all my Django related questions.</p>

			<p>Thanks also to the members of the <a target="_blank" href="http://d3js.org">D3.js</a> Hack lunch group: Joseph Rhoads, Bruce Boucek, Birkin Diana, Patrick Rashleigh, and Ben Cail for learning the javascript library with me and troubleshooting my code.</p>

			<p>I also want to thank <a target="_blank" href="http://nowviskie.org">Bethany Nowviskie</a> and Wayne Graham back at <a target="_blank" href="http://www.scholarslab.org">Scholars' Lab</a>.  I ran my plan to port Project Quincy to Django by them, secretely hoping they'd talk me out of it (and save me a ton of work).  But they were so enthusiatic about the project and so convinced I was up the challenge, that I went ahead and learned Django.</p>

			<p>And thanks once again to my family.  My dad, <a target="_blank" href="http://www.evanbauer.com">Evan Bauer</a>, recently took his development team at <a href="#">DealerTrack</a> to Django and has been unfailingly helpful in every aspect of the port.  My mom, <a target="_blank" href="http://www.joanbauer.com">Joan Bauer</a>, continues to write amazing books and remind me that, to bring the past alive, historians must tell compelling stories.  And Tim Maness remains the best sounding board in the world, my wonderful husband, and my dearest friend.</p>

			<h4>Initial Launch: October 18, 2010</h4>

			<p>Putting the EAFSD online represents a major milestone for both my research and software development.  While a great deal of work remains, I want to take this opportunity to thank the many people and institutions who have made this launch possible.</p>

			<p>The EAFSD exists symbiotically with my dissertation, "Revolution-Mongers: Launching the U.S. Foreign Service, 1775-1825," a project that would be impossible without the expert guidance and support of my wonderful dissertation advisers, <a target="_blank" href="http://www.virginia.edu/history/user/46">Peter S. Onuf</a> and <a target="_blank" href="http://www.virginia.edu/history/user/54">J.C.A. Stagg</a>.</p>

			<p>Holly Shulman introduced me to the field of digital humanities when she hired me to design a database for the <cite><a target="_blank" href="http://rotunda.upress.virginia.edu:8080/dmde/">Dolley Madison Digital Edition</a></cite>, and the seeds of that work and later projects, including <cite>People of the Founding Era</cite> with Holly and Sue Perdue at <a target="_blank"  href="http://documentscompass.org">Documents Compass</a>, are present in the data structure of Project Quincy, and by extension the EAFSD.  I am forever grateful to Holly for sharing her vision with me.</p>

			<p>The EAFSD became a reality during my 2008-2009 Fellowship Year at the <a target="_blank" href="http://www.lib.virginia.edu/scholarslab/">University of Virginia Library's Scholars' Lab</a> &mdash; a remarkable birthing room for digitally enhanced scholarship in the humanities.  Bethany Nowviskie, Joe Gilbert and my fellow graduate students Abigail Holeman and Pierre Dairon provided invaluable feedback and encouragement as I worked through the data structure and interface design.</p>

			<p>I also owe a great debt to my initial collaborators, Bess Sadler and Matt Mitchell, both former Heads of R&amp;D for the Scholars' Lab.  Bess taught me Ruby on Rails, reviewed my data structure, and packed me off to hear Edward Tufte's lectures on information design, which forever changed how I look at scholarship on the web.  After Bess left the Scholars' Lab, Matt provided expert Rails advice, streamlined my code, and wrote elegant solutions to seemingly intractable problems.</p>

			<p>Even after my Scholars' Lab fellowship ended, Chris Gist and Kelly Johnston have happily fielded all my map related questions, no matter how simplistic.  Joe Gilbert and Wayne Graham continue to answer my repeated calls for help and have saved me from several disasters.</p>  

			<p>Thanks to <a target="_blank" href="http://nowviskie.org">Bethany Nowviskie</a> for absolutely everything.</p>

			<p>Following my year at the Scholars' Lab, I had the good fortune to become a <a target="_blank" href="http://www.nines.org">NINES</a> Graduate Fellow.  Andrew Stauffer, Dana Wheeles and my fellow students Kristin Jensen and Heather Bowlby gave me a new perspective on correspondence networks and textual displays as well as much needed encouragement.</p>

			<p>Finally, I need to thank my parents, <a target="_blank" href="http://www.evanbauer.com">Evan</a> and <a target="_blank" href="http://www.joanbauer.com">Joan Bauer</a>.  My father has been designing databases since before I was born, and his fingerprints are all over Project Quincy and the EAFSD.  At the same time, my mom, brilliant novelist and wordsmith, has kept me grounded in the people and stories that make the past come alive.</p>
		</div> <!-- end content -->
		<div id='sidebar'>
			<h3>Early Funders</h3>
			<p>The following organizations provided start up funding to <a href="http://projectquincy.rubyforge.org">Project Quincy</a> and the EAFSD through fellowships to support my dissertation research.</p>
			<ul class="field_data">
				<li><a target="_blank" href="http://www.lib.virginia.edu/scholarslab/">University of Virginia Library's Scholars' Lab</a> <span class="field_name">Graduate Fellow 2008-2009</span></li>
				<li><a target="_blank" href="http://nines.org">NINES</a> <span class="field_name">Fellow 2009-2010</span></li>
				<li><a target="_blank" href="#">University of Virginia Graduate School of Arts and Sciences</a> <span class="field_name">Dissertation Fellowship 2010-2011</span></li>
			</ul>
			<p>I pay all the hosting costs personally to ensure that the site is maintained and remains <span class="field_name">Open Acess for ever</span>.</p>
		</div> <!-- end sidebar -->
	</div> <!-- end main -->
{% endblock %}