<!--This template contains the text and images for the site's Home page. -->

{% extends "eafsd_base.html" %}


{% block title %}{{ block.super }}{% endblock %}

{% block main %}
	<div id="all_text">
		<img class="main_page" src="{{STATIC_URL}}images/Treaty_of_Paris_by_Benjamin_West_1783.jpg">
		<h1><em>American Diplomacy, 1775 - 1825</em></h1>
		<h4 class="purple">Aliquam lectus orci, adipiscing et, sodales ac, feugiat non, lacus. Ut dictum velit nec est.</h4> 

		<h4>Quisque posuere, purus sit amet malesuada blandit, sapien sapien auctor arcu, sed pulvinar felis mi sollicitudin tortor. </h4>

		<h4>Maecenas volutpat, nisl et dignissim pharetra, urna lectus ultrices est, vel pretium pede turpis id velit. Aliquam sagittis magna in felis egestas rutrum. </h4>

		<h4>Proin wisi libero, vestibulum eget, pulvinar nec, suscipit ut, mi. </h4>

		<h4>Integer in arcu ultricies leo dapibus ultricies. Sed rhoncus lobortis dolor. </h4>

		<h4>Suspendisse dolor. Mauris sapien velit, pulvinar non, rutrum non, consectetuer eget, metus. Morbi tincidunt lorem at urna. Etiam porta. Ut mauris. </h4>

		<h4>Phasellus tristique rhoncus magna. Nam tincidunt consequat urna. Sed tempor.</h4>
	</div>

{% endblock %}