<!--This template contains the text and images for the site's Visual Essays page. -->

{% extends 'eafsd_browse.html' %}
{% load static %}



{% block title %}Visual Essays | {{ block.super }}{% endblock %}

{% block main %}
	<div id="content">
		<h1>Visual Essays: Delve Deeper</h1>
		<p>This page is under rapid construction.  It will link out to the prose and image based essays I have written (and am currently writing) on the Early American Foreign Service.</p>
		<h2>Comming Soon:</h2>
		<h4>Finding Their Place in the World: Expanding the U.S. Foreign Service to 1825</h4>
		<h4>Republicans of Letters: John Adams, Abigail Adams, Thomas Jefferson, and the essence of diplomatic communication</h4>
		<h4>An Impressive Failure: Information Flows and Jay’s Treaty</h4>
		<h4>Information and Power in the Early American Foreign Service: A Theoretical Approach</h4>
	</div>

	<div id="sidebar">
		<p>If you plan to revist the site, and I sincerely hope you do, make sure to visit this page to see what's new.</p>
	</div>

{% endblock %}