<!-- Template for listing all Letters in the system. -->

{% extends "eafsd_browse.html" %}
{% load url from future %}

{% block title %}Letters | {{ block.super }}{% endblock %}

{% block main %}
	<div id="main">
		<div id="content">
		{% block content %}
			<h3 class="browse_title">Letters ({{ letters|length }} total)</h3>
				<ul>
					{% for letter in letters %}
					<li>{{ letter }}</li>
					{% endfor %}
				</ul>
		{% endblock %}
		</div> <!-- end content -->
		<div id="sidebar">
		{% block sidebar%}{{ block.super }}{% endblock%}
		</div> <!-- end sidebar -->
	</div> <!-- end main -->
{% endblock %}