{% extends "eafsd_search.html"%}
{% load url from future %}

{% block title %}Search Individuals | {{block.super}}{% endblock %}

{% block main%}
	<div id="main">
		<div id="content">
		{% block content %}
			<h3 class="browse_title">Individuals Keyword Search</h3>
				<form action="" method="get">
					<p>
						<span class="search_param">Original Search: </span>
						<input type="text" name="q" value="{{ query_string }}">
						<input type="submit" value="Search">
						<a href="{% url 'keyword_search' %}">back</a>
					</p>
				</form>
			<h3><b>Results ({{ individuals|length }} total)</b></h3>
				<ul>
					{% for individual in individuals %}
					<li><a href="{% url 'individual_detail' individual.id %}">{{ individual }}</a></li>
					{% endfor %}
				</ul>
		{% endblock %}
		</div> <!-- end content -->
		<div id="sidebar">
		{% block sidebar%}{{ block.super }}{% endblock%}
		</div> <!-- end sidebar -->
	</div> <!-- end main -->
{% endblock %}