{% extends 'eafsd_base.html' %}
{% load url from future %}
{% load static %}

{% block title %}Assignment Sunburst | {{ block.super }}{% endblock %}
{% block scripts%}
<script src="{% static 'javascript/protovis-r3.2.js' %}" type="text/javascript"></script>
<script src="{% static 'data/assignTypeData.js' %}" type="text/javascript"></script>

{% endblock %}

{% block main%}
<div id="main">
    <div id="content">
    {% block content %}

      <script type="text/javascript+protovis">
        /* For pretty number formatting. */
        var format = pv.Format.number();
        
        var root = pv.dom(Assignments)
            .root("All");
        
        /* Recursively compute the package sizes. */
        /* Note use of isNAN to catch nodes without assigned values before they ruin the recursive computation */
        root.visitAfter(function(d) {
          if (d.firstChild) {
            d.nodeValue = pv.sum(d.childNodes, function(d) isNaN(d.nodeValue) ? 0 : d.nodeValue);
          }
        });

        var vis = new pv.Panel()
            .width(500)
            .height(500);

        var partition = vis.add(pv.Layout.Partition.Fill)
          .nodes(root.nodes())
            .size(function(d) d.firstChild ? 0 : 1)
            .order("descending")
            .orient("radial");

        partition.node.add(pv.Wedge)
            .fillStyle(pv.colors("#465B73", "#5B806B", "#342140", "#736346").by(function(d) d.parentNode && d.parentNode.nodeName))
            .title(function(d) d.nodeName + (" : " + format(d.nodeValue)))
            .strokeStyle("#fff")
            .lineWidth(.5);

        partition.label.add(pv.Label)
            .visible(function(d) d.angle * d.outerRadius >= 5)
          .textStyle("#ccc")
          .text(function(d) d.nodeName.substring(0, d.outerRadius/12));

        vis.render();

        /* Update the layout's size method and re-render. */
        function update(method) {
          switch (method) { 
            case "title": partition.size(function(d) d.firstChild ? 0 : 1); break;
            case "assignment": partition.size(function(d) d.nodeValue); break;
          }
          vis.render();
        }
      </script>

    {% endblock %}
    </div> <!-- end content -->

    <div id="sidebar">
    {% block sidebar%}
    
      <h3>All Assignment Titles</h3>
      <p>Mouseover to see the full title and number of officers who held it.</p>
      <p>Choose to view by number of titles, or number of assignments per title</p>
      <p>View by: <select id="menu" onchange="update(this.value)">
        <option value="title" selected>titles</option>
        <option value="assignment">assignments</option>
      </select></p>

    {% endblock%}
    </div> <!-- end sidebar -->

  </div> <!-- end main -->

{% endblock %}