<!-- This is the template for displaying information associated with a specific Region record.
	It extends the eafsd_base template. -->

{% extends "eafsd_base.html" %}

{% block title %}{{ region.name }} | {{ block.super }}{% endblock %}

{% block main%}

<div id="main">
	<div id="sidebar">
		<h3>Region</h3>
		<p><span class="field_name">Name: </span>{{region}}</p>
		<p><span class="field_name">Notes: </span>{{region.notes|default_if_none:""}}</p>
		<p><a href="{% url 'region_list' %}">back to all Regions</a></p>
	</div> <!-- end sidebar -->
	<div id="content">
		<h3 class="browse_title">Related Locations</h3>
		{% for ir in in_regions %}
			<p><a href="{% url 'location_detail' ir.location.id %}">{{ir.location}}</a></p>
		{% endfor %}
	</div> <!-- end content -->
{% endblock %}